.deps
*.lo
*.la
tmtags
Makefile*
acinclude.m4
aclocal.m4
autom4te.cache
build
config.*
configure*
install-sh
ltmain.sh
missing
mkinstalldirs
run-tests.php
.libs/
libtool
modules/
.idea
.settings
.buildpath
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
.project
tests/instance/txt/sometext.txt
tmp-php.ini

